# .env.example
# Copy this file to .env and fill in the values before running the app.

#starts app in SFW mode
VITE_USE_MOCK=true

# your Stash server's LAN IP
VITE_STASH_URL=http://192.168.1.3:9999     

# your Stash server's API KEY
VITE_STASH_API_KEY=